<ng-container>
  <div class="row content-card">
    <div class="col-6 content-card">
      <mat-card class="content-card">
        <mat-card-title>Manage users</mat-card-title>
        <mat-card-content>
          <div class="row">
            <mat-list>
              <mat-list-item>
                Total Users: 20
              </mat-list-item>
              <mat-list-item>
                Total Managers: 4
              </mat-list-item>
              <mat-list-item>
                Total Workers 16
              </mat-list-item>
            </mat-list>
          </div>
          <div class="align-bottom-button">

          <button mat-raised-button color="primary" (click)="goToUsersPage()">Manage</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6 content-card">
      <mat-card class="content-card">
        <mat-card-title>Manage projects</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
          Total Projects: 4

            </mat-list-item>
            <mat-list-item>
          Projects Without Workers: 0

            </mat-list-item>
            <mat-list-item>
          Projects Without Manager: 0

            </mat-list-item>
          </mat-list>
          <div class="align-bottom-button">

          <button mat-raised-button color="primary">Manage</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>
